{% extends "layout.html" %}

{% block title %}
    | About
{% endblock %}

{% block body %}
<link href="/static/about.css" rel="stylesheet">
    <div class="centered">
        <header style="font-size: 40px">Evali Free</header>
        <header style="font-size: 80px">
    
            ABOUT US
            
            </header>
    </div>
        
    <div style="text-align: left"></div>    
    
    <p style="font-size: 44px;"></p></style>
    <div class="row display-3">
        <div class="col left-text">
            Our Mission
    
        </div>
    
    
    
        <div class="col right-text"; style="text-align: right">
            Our Vision
    
        </div>
    <p class="left-text"></p>
    <div style="text-align: right">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="left-text" width= "40px">
                To free Indonesian youth from smoking and protect them 
                <br>
                from Evali. We raise awareness, provide education, and 
                <br>
                collaborate with experts to empower the younger  
                <br>
                generation for a smoke-free future.
                </width>
            </p>
        </div>
        <div class="col">
        <img src="static/images/tree.png" class="imgMain" width="200px" height="200px">  
        </div>
        <div class="col">
            <div style="text-align: right">
            <p class="right-text">
                To assist individuals in breaking free from
                <br>
                smoking, paving the way for a healthier 
                <br>
                and more vibrant lifestyle.
            </p>
        </div>
    
    </div>
    
    <div style="text-align: top">
    
    
    
    </div>
    
    </div>
    
    <div style="text-align: center">
    
    <img src="static/images/meet.jpeg" width="1050px" height="600px">
    
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="static/images/team.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="static/images/follow.jpeg" class="d-block w-100" alt="...">
          </div>
     
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
{% endblock %}